.contenedor {
    padding: 30px;
    border: 2px solid rgb(93, 197, 191);
    border-radius: 10px;
    width: 70%;
    display: grid;
    place-items: center;
    margin: auto;
}


.icono{
    font-size: 40px;
}
.logotipo{
    display: flex;
    justify-content: center;
}
