<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>foto Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>
    Estimado {{usuario}}, por favor escanee el codigo QR del profesor para acceder a su clase de:
  </h1>
  <h1>{{curso}}</h1>
  <ion-button id="present-alert" fill="clear" (click)="scannerQR()">
    <ion-icon name="scan-circle-outline"class="icono"></ion-icon>
  </ion-button>
  <!-- <ion-alert
    trigger="present-alert"
    header="Asistencia Registrado con exito"
    [buttons]="alertButtons"
    (didDismiss)="setResult($event)"
  ></ion-alert> -->
</ion-content>
