<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>listado Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <div class="imagen">
    <ng-container *ngIf="qrDataURL">
      <div class="d-flex-center imagen">
        <qr-code [value]="qrDataURL" 
      size="200" 
      errorCorrectionLevel="L" />
      </div>
    </ng-container>
  </div>
  
  
  <!-- {{qrDataURL}} -->


  <br>
  <ion-list>
    <ion-list-header>
      <ion-label>
        <h1>
          Bienvenidos a la clase de: {{nombreClase}}
        </h1>
        <h1>
          cod clase: {{codigoClase}}
        </h1>
      </ion-label>
    </ion-list-header>
    <ion-item *ngFor="let alumno of alumnos" >
      <ion-label>
        Rut: {{alumno.rut}} <br>
        Nombre: {{alumno.nombre}} <br>
        <p>Estado: <span [ngClass]="{'presente': alumno.status === 'PRESENTE', 'ausente': alumno.status === 'AUSENTE'}">{{alumno.status}}</span></p>
      </ion-label>
    </ion-item>
  </ion-list>
  <br>
  <!-- <pre>{{ alumnos | json }}</pre> -->
  <ion-button (click)="volver()">
    <ion-icon slot="start" name="return-up-back-outline"></ion-icon>
    Volver
  </ion-button>
</ion-content>