<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>listado Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <img alt="CodigoQR" src="../../assets/images/22108.png" /> -->

  <br>
  <div class="imagen">
    <ng-container *ngIf="qrDataURL">
      <img [src]="qrDataURL" class="qr-image" alt="CodigoQR" />
    </ng-container>
  </div>

  <br>
  <ion-list>
    <ion-list-header>
      <ion-label>
        <h1>
          Bienvenidos a la clase de: {{nombreClase}}
        </h1>
        <h1>
          cod clase: {{codigoClase}}
        </h1>
      </ion-label>
    </ion-list-header>
    <ion-item *ngFor="let alumno of alumnos">
      <ion-label>
        Rut: {{alumno.rut}} <br>
        Nombre: {{alumno.nombre}} <br>
        Estado: {{alumno.status}}
      </ion-label>
    </ion-item>
  </ion-list>
  <br>
</ion-content>