<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>listado Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<br>
  <div class="imagen">
    <!-- <img alt="CodigoQR" src="../../assets/images/22108.png" /> -->
     <img [src]="qrDataURL" *ngif="qrDataURL" class="qr-image">
  </div>
<br>
<ion-list>
  <ion-list-header>
    <ion-label>
      <h1>
        Bienvenidos a la clase de: <br><br>{{nombreClase}}, cod clase: {{codigoClase}}
      </h1>
    </ion-label>
  </ion-list-header>
  <ion-item *ngFor = "let alumno of alumnos">
    <ion-label>
      Rut: {{alumno.rut}} <br>
      Nombre: {{alumno.nombre}} <br>
      Estado: {{alumno.estado}}
      </ion-label>
    </ion-item>
  </ion-list>
  <br>
  <ion-button expand="block" (click)="navega()">Enviar asistencia y volver a asignaturas pendientes</ion-button>
</ion-content>