ion-list {
    text-align: center;
}

ion-label {
    text-align: center;
}

.imagen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex-center {
    width: 230px;
    min-height: 230px;
    background: var(--ion-color-tertiary);
    border-radius: 20px;
}

.presente {
    color: green;
    font-weight: bold;
}

.ausente {
    color: red;
    font-weight: bold;
}